{% load main_extras %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    {%block meta_tags  %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock meta_tags %}

    <title>{% block title %}{% brand_name %}{% endblock title %}</title>
    {% block stylesheets %}
        <link rel="icon" href="{% static 'main/img/favicon.ico' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <!-- Custom CSS -->
        <link href="{% static 'eprofile/css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'eprofile/css/profile.css' %}" rel="stylesheet" />
    {% endblock stylesheets %}
    <!-- other head contents such as css -->
    {% block head_extra %} {% endblock head_extra %}
</head>

<body>
<!-- main navigation bar -->
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site_url }}">{% brand_name %}</a>
        </div>
        {% block header_extra %}{% endblock header_extra %}
    </div>
</header>
{% block navigation %}{% endblock navigation %}
<!-- main content of the page -->
<div id="main" role="main">
    <div class="container">
    <div class="row">
        {% block content %}{% endblock content %}
    </div>
    </div>
</div>

<div class="page-footer">
    {% include 'eprofile/_footer.html' %}
    {% block footer_extra %}{% endblock footer_extra %}
</div>
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script>
    $(function (){
        ('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock javascript %}
</body>
</html>