{% load main_extras %}
<div class="tab-pane fade" id="About">
    <div class="vertical-tabs-container">
        <ul class="nav nav-tabs vertical-nav-tabs">
            <li class="active"><a href="#tab_summary" data-toggle="tab">Summary</a></li>
            <li><a href="#tab_education" data-toggle="tab">Education</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab_summary" class="section tab-pane vertical-tab-pane active">
                <div class="editContainer">
                    <a href="{% url 'profile:update_summary' %}">
                        <button class="btn btn-sm btn-info">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"
                          data-placement="left"></span> | Edit summary
                        </button>
                    </a>
                </div>

                <h3>Summary</h3>
                <hr class="heading">
                <div class="sectionContent">
                    {{ user_profile.summary|linebreaksbr }}
                </div>
            </div>
            <div id="tab_education" class="section tab-pane vertical-tab-pane">
                <div class="editContainer">
                    <a href="{% url 'profile:update_school' %}">
                        <button class="btn btn-sm btn-info">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"
                          data-placement="left"></span> | Add a college/school
                        </button>
                    </a>
                </div>
                <h3>Education</h3>
                <hr>
                {% if user_profile.schools %}
                    {% for school in user_profile.schools %}
                        <div class="subSection">
                            <div class="editContainer">
                                <a class="btn btn-sm btn-info"
                                   href="{% url 'profile:update_school' %}{{ school.uuid }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"
                                data-placement="left"></span> | Edit
                                </a>
                            </div>

                            <! -- ['school', 'address', 'month_from', 'month_to', 'year_from', 'year_to', 'graduated',
                            'degree',
                            'conentrations', 'gpa', 'activities', 'societies', 'description']
                            -->
                            <h4>{{ school.school }}</h4>
                            <h5>{% if school.address %}{{ school.address }}{% else %}Add address{% endif %}
                            </h5>
                            <h5>{% if school.degree %}{{ school.degree }}, {% else %}Add Degree,{% endif %}
                                {% if school.major_field %}{{ school.major_field }}{% else %}Add Major Field{% endif %}
                            </h5>
                            <h6>{{ school.month_from|month_name }}
                                {% if school.year_from %} {{ school.year_from }}{% else %}Add year {% endif %} -
                                {{ school.month_to|month_name }} {{ school.year_to }}
                            </h6>
                            <h6>{% if school.gpa %}{{ shcool.gpa }}{% else %}Add GPA{% endif %}</h6>
                            <h6>{% if school.concentrations %}{{ school.concentrations }}{% else %}
                                Add Concentrations{% endif %}</h6>
                            <h6>{% if school.activities %}{{ school.activities }}{% else %}Add Activities
                            {% endif %}</h6>
                            <h6>{% if school.description %}{{ school.description }}{% else %}
                            Add Description{% endif %}</h6>
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
