{% load staticfiles %}

<div class="bannerContainer">
    <a href="{% url 'profile:update_cover_photo' %}">
        <div class="cover"
                {% if user_profile.cover_photo %}
             style="background-image: url({{ MEDIA_URL }}{{ user_profile.cover_photo }});"
                {% endif %}>
            <span class="glyphicon glyphicon-camera coverCameraPosition"
                  data-toggle="tooltip" title="Change Cover Photo" data-placement="right"></span>
        </div>
    </a>
    <div class="profilePhotoContainer">
        <a href="{% url 'profile:update_profile_photo' %}">
            <div class="profilePhoto" aria-hidden="true" data-toggle="tooltip" title="Change Profile Photo"
                    {% if user_profile.profile_photo %}
                 style="background-image: url({{ MEDIA_URL }}{{ user_profile.profile_photo }});"
                    {% endif %}>
            <span class="glyphicon glyphicon-camera profileCameraPosition"></span>
            </div>
        </a>
    </div>
    <!-- empty div needed to counter the transparency effect of the background
    fields = ['card_name', 'card_title', 'card_department', 'card_employer',
                  'card_email', 'card_address1', 'card_address2', 'card_phone', 'card_office']
    -->

    <div class="vCardContainer"></div>
    <div class="vCard">
        <a href="{% url 'profile:update_card' %}">
            <div class="editCardContainer">
                <button class="btn btn-sm btn-info">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> | Edit
            </button>
            </div>
        </a>
        <h3 class="cardName">{{ user_profile.card_name }}
            {% if user_profile.is_verified %}
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip"
                      data-placement="right" title="Verified Account"></span>
            {% endif %}
        </h3>
        <h4 class="cardTitle">{{ user_profile.card_title }}
            {% if user_profile.card_department %}, {{ user_profile.card_department }}{% endif %}</h4>
        <h5 class="subtitle">
            {% if user_profile.card_employer %}
                {{ user_profile.card_employer }}
            {% else %}&nbsp;
            {% endif %}</h5>
        <h5 class="subtitle">
            {% if user_profile.card_address1 %}{{ user_profile.card_address1 }}
            {% else %}&nbsp;
            {% endif %}
        </h5>
        <h5 class="subtitle">
            {% if user_profile.card_address2 %}{{ user_profile.card_address2 }}
            {% else %}&nbsp;
            {% endif %}
        </h5>
        <table class="vCardContact">
            <tr>
                <td><span class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="Email"
                          aria-hidden="true"></span>
                    <a href="mailto:{% if user_profile.card_email %}{{ user_profile.card_email }}
                    {% else %}{{ user.email }}
                    {% endif %}">
                        {% if user_profile.card_email %}{{ user_profile.card_email }}
                            {% else %}{{ user.email }}
                        {% endif %}</a></td>

                <td>{% if user_profile.card_office %}
                    <img src="{% static 'eprofile/img/icons/office.png' %}" width="20" data-toggle="tooltip"
                         title="Office"/>
                    {{ user_profile.card_office }}
                {% else %}&nbsp;
                {% endif %}</td>
            </tr>
            <tr>
                <td> {% if user_profile.card_phone %}
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" data-toggle="tooltip"
                          title="Phone"></span>
                    <a href="tel:{{ user_profile.card_phone }}">{{ user_profile.card_phone }}</a>
                {% else %}&nbsp;
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="statsContainer"></div>
    <div class="conextStats">
        <h4 class="subtitle">Conextions</h4>
        <a href="http://conext.rocks/facultyconext/"><span
                aria-label="Faculty"><span class="glyphicon glyphicon-education"
                                           aria-hidden="true"></span>4</span></a>
        <br>
        <a href="/peerconext/"><span aria-label="Peers"> <span class="glyphicon glyphicon-apple"
                                                               aria-hidden="true"></span>3</span></a>
        <br>
        <a href="alumniconext"> <span aria-label="Alumni"><span class="glyphicon glyphicon-globe"
                                                                aria-hidden="true"></span>2</span></a>
        <br>
        <h5 class="subtitle">Profile Strength</h5>
        <span aria-label="Profile Strength"><img src="{% static 'eprofile/img/icons/profileStrength.png' %}"
                                                 alt="Profile Strength" width="30"> Associate Professor</span>
    </div>
</div>

<div class="mainTabContainer">
    <div class="tabs">
        <ul class="nav nav-pills">
            <li class="nav active">
                <a href="#Timeline" data-toggle="tab">Timeline</a>
            </li>
            <li class="nav">
                <a href="#About" data-toggle="tab">About</a>
            </li>
            <li class="nav">
                <a href="#Teaching" data-toggle="tab">Teaching</a>
            </li>
            <li class="nav">
                <a href="#Research" data-toggle="tab">Research</a>
            </li>
            <li class="nav">
                <a href="#Service" data-toggle="tab">Service</a>
            </li>
            <li class="nav">
                <a href="#Personal" data-toggle="tab">Personal</a>
            </li>
        </ul>
    </div>
</div>
