{% extends "eprofile/__base.html" %}
{% load main_extras %}
{% block title %}{{ block.super }} | {{ form_title }}{% endblock title %}

{% block header_extra %}
    {% include 'eprofile/_header.html' %}
{% endblock header_extra %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
    <div id="form_container">
        <h3>{{ form_title }}</h3>
        <hr>
        {% if form.non_field_errors %}
            <div class="alert alert-danger fade in form-group center" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ form.non_field_errors |safe }}
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" action="{{ form_action }}" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback {% if form.company.errors %} has-error {% endif %}">
                <label class="control-label col-sm-4"
                       for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
                <div class="col-sm-8">
                    {{ form.company }}
                        <span class="form-control-feedback glyphicon {% if form.company.errors %} glyphicon-remove
                        {% endif %} aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4"
                       for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
                <div class="col-sm-8">
                    {{ form.location }}
                </div>
            </div>
            <div class="form-group has-feedback {% if form.title.errors %} has-error {% endif %}">
                <label class="control-label col-sm-4"
                       for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                <div class="col-sm-8">
                    {{ form.title }}
                        <span class="form-control-feedback glyphicon {% if form.title.errors %} glyphicon-remove
                         {% endif %} aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback {% if form.month_from.errors or form.year_from.errors %}
                has-error {% endif %}">
                <label class="control-label col-sm-4">Time Period *</label>
                <div class="col-sm-4" style="margin-left:0; padding-left:0;">
                    {{ form.month_from }} {{ form.year_from }}
                    </div>
                <div class="col-sm-4" style="padding-left:0;"><label>to</label> &nbsp; {{ form.month_to }} {{ form.year_to }}
                    <br />{{ form.current }}{{ form.current.label }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4"
                       for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                <div class="col-sm-8">
                    {{ form.description }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">&nbsp;</label>
                <div class="col-sm-8">
                    <button type="submit" class="btn-lg btn-info btn-block">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}