{% extends "eprofile/__base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | Profile{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'eprofile/css/vertical_tab.css' %}" rel="stylesheet" />
{% endblock stylesheets %}
{% block header_extra %}
    {% include 'eprofile/_header.html' %}
{% endblock header_extra %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
    {% include 'eprofile/_banner.html' %}
     <div class="tab-content">
        {% include 'eprofile/_timeline.html' %}
        {% include 'eprofile/_about.html' %}
    </div>
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'eprofile/js/profile.js' %}"></script>
{% endblock javascript %}
