body {
    background-color: #E9E8E8 !important;
}

#mainContainer {
    margin-left: auto;
    margin-right: auto;
    width: 900px !important;
}

.bannerContainer {
    /* Fix the top banner thing above this banner, on small width screens this 5em is needed to maintain profile visability
    margin-top: 5em;*/
    height: 300px;
    width: 900px;
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.cover {
    height: 300px;
    background: white url("/static/eprofile/img/banner.jpg") no-repeat;
    width: 900px;
    background-size: cover;
    position: absolute;
    top: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

div.profilePhotoContainer {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 1;
    background-color: white;
    padding: 4px;
}

.profilePhoto {
    width: 100%;
    height: 100%;
    background: midnightblue url("/static/eprofile/img/profile.png") no-repeat;
    background-size: cover;
}

div.vCardContainer {
    height: 165px;
    width: 450px;
    opacity: .7;
    background-color: white;
    position: absolute;
    left: 230px;
    top: 135px;
    color: black;
    padding-left: 5px;
    padding-top: 0;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

div.vCard {
    position: absolute;
    top: 140px;
    color: black;
    left: 230px;
    padding-left: 5px;
    padding-top: 0;
    width: 450px;
    height: 165px;
}

div.statsContainer {
    height: 165px;
    width: 200px;
    opacity: .7;
    background-color: white;
    position: absolute;
    left: 690px;
    top: 135px;
    padding-left: 5px;
    padding-top: 0;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

div.conextStats {
    height: 160px;
    width: 200px;
    position: absolute;
    left: 690px;
    top: 140px;
    color: black;
    padding-left: 5px;
    padding-top: 0;
}

table.vCardContact {
    width: 100%;
    margin-left: 5px;
}

.cardName {
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.cardTitle {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.cardOther
{
    margin: 5px;
    font-size: 14px;
}

div.mainTabContainer {
    height: auto;
    width: 900px;
    background-color: white;
    color: black;
    padding-top: 0;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*z-index: -2;*/
}

div.bannerSearch {
    width: 400px;
}

div.tabContentContainer {
    height: auto;
    width: 680px;
    color: black;
    padding-top: 0;
    margin: 0;
}

.tabs {
    position: relative;
    left: 230px;
    z-index: 2;
    width: 670px;
}

.endorseForm {
    float: left;
}

div.alerts {
    width: 100%;
}

div.alerts {
    float: right;
    width: 30%;
    /*border-radius: 0.5em;*/
    margin: 0.5em;
}

.officeHour {
    background: #D0F5A9;
    font-weight: bolder;
    text-align: center;
}

.schedule {
    background: #FAFFFA;
    font-weight: bolder;
    text-align: center;
}

.dropdown-menu {
    width: 200px;
}

.nav-tabs {
    border-bottom: 0 solid #d9d9d9;
}

.editCardContainer {
    position: absolute;
    font-size: 20px;
    right: 10px;
    display: none;
}

.vCard:hover .editCardContainer
{
    display: block;
}

.profileCameraPosition {
    position:absolute;
    left:10px;
    bottom:10px;
    font-size:20px;
    color:white;
}

.coverCameraPosition {
    margin:20px;
    font-size:20px;
    color:white;
}

div.section
{
    background-color: white;
    border-left: 1px solid #d9d9d9;;
    padding: 10px;
    position: relative;
    left:0;
    top:0;
}

.subSection {
    position: relative;
    left:0;
    top:0;
}

.editContainer {
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 10px;
    display: none;
}

.section:hover > .editContainer
{
    display: block;
}

.subSection:hover > .editContainer
{
    display: block;
}

.verticalTab
{
    background-color: #666666;
    margin:0 !important;
}