{% include 'head.html' %}

{# load the tag library #}
{% load bootstrap3 %}

	<body>
		{% block content %}{% endblock %}

		<div class="container">
			<!-- Example row of columns -->
			{% if messages %}
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					{% for message in messages %}
					<p {% if message.tags == "success" %} class="alert alert-success"{% endif %}>
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
						{{ message }}
					</p>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<!-- container -->
        </div>

{% include 'footer.html' %}