{% include 'head.html' %}

{# load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

	<body>
		<div class="bg">
			&nbsp;
		</div>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<img  id= "logo" class="masthead-brand" src="/static/img/logo_white_tag.png">

						</div>

					</div>


					<div class="inner cover">

						<h2 class="cover-heading">Conext Now...</h2>
						<p class="lead">

						</p>
						<div class="row">
							<form method="post" action="/search">
								<div class="lead">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">
												Go!
											</button> </span>
									</div><!-- /input-group -->
								</div><!-- /.col-lg-6 -->

							</form>
							<p class="lead1">

							</p>
						</div>

					</div>

				</div>

			</div>

		</div>

 {% include 'footer.html' %}